@charset "utf-8";
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: #000;
	font-size: 12px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	background-image: url(backgrounds/Pyramid_BG.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
p {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	color: #FFF;
}
ol {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
}

h1 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #fff;
	font-size: 24px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #fff;
}
h2 {
	font-size: 18px;
	color: #f5d8b0;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
h3 {
	font-size: 16px;
	color: #f08f2e;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
h4 {
	font-size: 14px;
	color: #db3c26;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
h5 {
	font-size: 12px;
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;
}
td {
	padding:2px;
}
hr {
	color: #80171c;
}
a:link, a:visited {
	color: #fff;
}
legend {
	color:#fff;
}


#container {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	left: auto;
	right: auto;
	width: 700px;
	height: auto;
}
#top {
	height: 60px;
	width: 700px;
	position: relative;
	margin-top: 20px;
	clear: both;
	margin-bottom: 10px;
	background-image:url(logos/logo_trans_red2.png);
	background-repeat:no-repeat;
}
#top h1 {
	display: none;
}
#nav {
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#nav li {
	float: left;
	list-style-type: none;
	white-space: nowrap;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 25px;
	margin-bottom: 0px;
}
#nav a {
	text-decoration: none;
	display: block;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	color: #999;
}
#nav a:hover {
	color: #fff;
}
#leftnav {
	float: left;
	width: 130px;
	clear: left;
	position: relative;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#nav2 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#nav2 li {
	list-style-type: none;
	font-size: 12px;
	line-height: 30px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCC;
}
#nav2 a {
	text-decoration: none;
	color: #999;
	display: block;
}
#nav2 a:hover {
	color:#fff;
}
#socialmedia {
	margin: 10px 0 0 0;
}
#socialmedia img {
	margin: 0 5px 0 0;
}
#content {
	width: 549px;
	position: relative;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #CCC;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#content p {
	line-height:20px;
	margin: 15px 0px 15px 0px;
}
#shop_content {
	color:#000;
	background-color:#fff;
	border-radius: 10px;
	width: 544px;
	position: relative;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #CCC;
	float: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
}
#shop_content p {
	line-height:20px;
	margin: 15px 0px 15px 0px;
	color:#000;
}
#shop_content a {
	color:#000;
}
#footer {
	clear:both;
	float:right;
	width: 570px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #CCC;
}
#footer p {
	font-size:10px;
	float:right;
	padding: 0px;
	margin-top: 5px;	
}

